
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/clevlandbkgrnd.jpg');
    background-size: cover;
    font-family: Aharoni;
}
.jumbotron {
    color:black;
    font-weight:900;
    text-align:center;
    padding-top:75px;
    background-color: transparent;
}

#categoryDropdown {
    color:black;
}
nav navbar-nav {
    font-weight:900;
}
.pulse{
    animation-delay: 3s;
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1.1);
		opacity: 0.8;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(1.1);
		opacity: 0.8;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		opacity: 0.8;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1.1);
		opacity: 0.8;	
	}			
}
#footer {
    color:ghostwhite;
    font-family: 'Shrikhand', cursive;
}
#teamPhoto {
    text-align:center;
}
#team {
    color:black;
    background-color: lightgray; opacity:0.8;
    text-align:center;
    margin-bottom: 20px;
                                                                                                                        
}
#kenZer {
    padding-bottom: 30px;
}
#description{
    padding: 0px;
    text-align:center;
    color: ghostwhite;
    font-family: 'Shrikhand', cursive;
}
#loginbutton {
    text-align: center;
    visibility:visible;
}
#contactLogo {
    text-align:center;  
    margin-bottom: 50px;
}
.divider{
    width:3px;
    height:0px;
    display:inline-block;
}
#fade  {
    margin-top: 25px;
    text-align: center;
   
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
/*@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar {
    background-color:transparent;
}
ul a{
    color:black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#map {
   width: 25%;
   height: 200px;
   position: absolute;
   bottom: 10px;
   /*background-color: grey;*/
 }
