@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div id="aboutLogo">

    <img src="~/Images/BucketList500.PNG" />
</div>

<div class="row" div id="aboutStory">
    <div class="col-md-12">
        <p>William Green</p>
    </div>
</div>